<div class="cards-list">
  <div class="card1">
    <div class="card_image"></div>
    <div class="card_title title-white">
      <p><img src="https://firebasestorage.googleapis.com/v0/b/imagepoc-a54c2.appspot.com/o/marvel.png?alt=media&token=5ffde3bc-9cd7-4205-afa4-94669ca8260f" width="220" style="margin-top: 11.1px;"></p>
    </div>
  </div>

  <div class="card2">
    <div class="card_image"></div>
    <div class="card_title title-white">
      <p><img src="https://firebasestorage.googleapis.com/v0/b/imagepoc-a54c2.appspot.com/o/DC_Comics_logo_white.png?alt=media&token=f2b1b578-e9b0-4e9e-9609-fdc226042ad9" width="130" style="margin-top: -5px;"></p>
    </div>
  </div>

  <div class="card3">
    <div class="card_image">
    </div>
    <div class="card_title">
      <p><img src="https://firebasestorage.googleapis.com/v0/b/imagepoc-a54c2.appspot.com/o/star-wars-logo.png?alt=media&token=71d79062-5366-4cd0-a199-35085011cd39" width="180" style="margin-top: -30px;"></p>
    </div>
  </div>

  <div class="card4">
    <div class="card_image">
      <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
    <div class="card_title title-black">
      <p>Card Title</p>
    </div>
  </div>
</div>
